body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./blackboard.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    padding: 16px;
  }
/* Full-width input fields */

.btn3 .btn4{
    position: absolute;
    right: 25px;
    top: 0;
    font-size: 35px;
    font-weight: bold;
  }
 
h1{
    margin-bottom: -2.5rem;
    font-weight: 500;
    line-height: 5.2;
}

/* Set a style for all buttons */

.btn1:hover {
  opacity: 0.8;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small s
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }